.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  border-radius: 5px;
  border: 1px solid white;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.image:hover {
  box-shadow: 4px 4px 10px #333;
}
