html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  font-weight: 300;
  background: #c4c4c4;
}

* {
  box-sizing: border-box;
}

header {
  width: 100%;
  text-align: center;
  margin: 5% auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-transform: uppercase;
  font-size: 4em;
}

main {
  margin: auto 5% 0;
}

section {
  margin: 2%;
  display: flex;
  justify-content: center;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  text-transform: capitalize;
}
